<footer class="market-footer">
    <div class="regular-container footer-container">
        <div class="row footer-top">
            <div class="containerOne">
                <h6>SELL YOUR HOME</h6>
                <ul class="sitemap">
                    <li><a href="">Request an offer</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">Reviews</a></li>
                    <li><a href="">Stories</a></li>
                </ul>
                <h6>BUY A HOME</h6>
                <ul class="sitemap">
                    <li><a href="">Buy</a></li>
                    <li><a href="">Exclusives</a></li>
                </ul>
                <h6>PARTNERS</h6>
                <ul class="sitemap">
                    <li><a href="">Vendors</a></li>
                    <li><a href="">Builders</a></li>
                </ul>
            </div>
            <div class="containerTwo">
                <h6> BUY AND SELL </h6>
                <ul class="sitemap">
                    <li><a href="">Buy and sell with Opendoor</a></li>
                    <li><a href="">Builder trade-up</a></li>
                </ul>
                <h6>AGENTS</h6>
                <ul class="sitemap">
                    <li><a href="">Make an offer</a></li>
                    <li><a href="">Request an offer</a></li>
                </ul>
                <h6>RESOURCES</h6>
                <ul class="sitemap">
                    <li><a href="">Blog</a></li>
                    <li><a href="">Guides</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Help Center</a></li>
                </ul>
            </div>
            <div class="containerThree">
                <h6>ABOUT</h6>
                <ul class="sitemap">
                    <li><a href="">Company</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Press</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Investors</a></li>
                </ul>
                <h6>TERMS & PRIVACY</h6>
                <ul class="sitemap">
                    <li><a href="">Trust & Safety</a></li>
                    <li><a href="">Terms of Service</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Do not sell my info</a></li>
                </ul>
            </div>
            <div class="containerFour">
                <h6> DOWNLOAD APP</h6>
                <a href=""><img src="https://imgdrop.imgix.net/3a52f003f27742f3b4384a3168352335.png" alt=""></a>
                <a href=""><img src="https://imgdrop.imgix.net/03f8e282af254a80ac28358e640319ab.svg" alt=""></a>
            </div>
        </div>

        <div class="social">
            <a href=""><img src="https://imgdrop.imgix.net/1ac79b6da72048e5ac4e3770a67d9f51.svg" alt=""></a>
            <a href=""><img src="https://imgdrop.imgix.net/f2641428da574ecf908264f2ab31a032.svg" alt=""></a>
            <a href=""><img src="https://imgdrop.imgix.net/eb24a868176f4dc182c1f3de199481e7.svg" alt=""></a>
        </div>

        <div class="flec">
            © 2023 Opendoor
            <div><img src="https://imgdrop.imgix.net/2cfd25967a794adabcc97873553da5ab.png" alt=""></div>
        </div>
    </div>
</footer>
