<div class="prefooter">
    <p>
        Offer eligibility and purchase price vary. Featured individuals may have been compensated for their time. 
        Their opinions and views are solely their own. <br>
        Learn more about <a href="#"> Opendoor Brokerages </a> <br>
        Opendoor Labs Inc. is working with 
        <a href=""> Accessible360 </a> to enhance the accessibility of our websites and mobile applications. 
        We view accessibility as a continually ongoing effort. Please contact us at
        <a href="">  contact@opendoor.com </a> with any feedback or suggestions. 

    </p>
</div>
