<div id="alp-sell" class="animated-section">
  <div class="mdiv">
    <div id="alp-sell--bg-effect" aria-hidden="true">
      <div></div>
    </div>
    <div id="alp-sell--callout">
      <h2>Why sell your client's to Opendoor</h2>
      <p>
        Offer your seller peace of mind with a quick and worry-free selling
        process.
      </p>
    </div>
    <div id="alp-sell--image-list">
      <div class="row">
        <div class="col sticky-parent">
          <div class="sticky-images">
            <div class="alp-img-placeholder noMobile">
              <div id="sell--image-1" class="appear active"></div>
              <div id="sell--image-2" class="appear"></div>
              <div id="sell--image-3" class="appear"></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="alp-img-group">
            <div class="alp-img-placeholder mobile-visible-only">
              <div class="img sell--image-1"></div>
            </div>
            <div
              id="watchable"
              watchable-target="sell--image-1"
              class="alp-text"
            >
              <h3>Keep it simple</h3>
              <p>
                Get flexible closing dates, penalty-free cancellation, and the
                tools you need to solve your customer's unique situations.
              </p>
            </div>
          </div>
          <div class="alp-img-group">
            <div class="alp-img-placeholder reveal active mobile-visible-only">
              <div class="img sell--image-2"></div>
            </div>
            <div
              id="watchable"
              watchable-target="sell--image-2"
              class="alp-text"
            >
              <h3>Lead with certainty</h3>
              <p>
                No finance or appraisal contingencies mean your client can move
                fast without worrying about the deal falling through.
              </p>
            </div>
          </div>
          <div class="alp-img-group three">
            <div class="alp-img-placeholder reveal active mobile-visible-only">
              <div class="img sell--image-3"></div>
            </div>
            <div id="watchable" watchable-target="sell--image-3" class="alp-text">
              <h3>It pays to use Opendoor</h3>
              <p>Earn 1% on eligible representation or referral transactions, on top of any seller paid commission. Plus earn additional rewards for every qualified transaction you close.</p>
              <a href="https:/www.opendoor.com/w/agent-access">
                Learn more about our Agent Access program
                <img
                  src="https://imgdrop.imgix.net/2023-04-1680702495865-12259.svg"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="alp-bg-div" aria-hidden="true"></div>
      <div id="alp-sell--form">
        <h2>Get an Offer now</h2>
        <div id="alp-sell--form-input">
            <p style="opacity: 0; width: 0px; height: 0px; display: block;"></p>
            <div class="od-address-input css-dbz1nr e1f7cf5w2">
                <div class="css-uq2v47 e129aueq1">
                    <div class="od-cta-input css-i9jc9h ej7sxrb4">
                        <div class="cta-input-wrapper css-bvbw0y ej7sxrb3">
                            <div class="css-jneeu5 ej7sxrb2">
                                <div class="cta-input-form">
                                    <div class="css-1qhc5pl ej7sxrb1">
                                        <div class="css-jv2e2 e16ncmlu3">
                                            <input type="text" aria-label="Enter your seller's address" class="cta-input-control cta-input-js css-1bk306o e16ncmlu0"
                                            autocomplete="off" name="CtaInput" placeholder="Enter your seller's address" required value>
                                        </div>
                                    </div>
                                    <div class="cta-input-button css-nal977 ej7sxrb0">
                                        <button class="cta-button css-1evz76" variant="primary" type="submit">
                                            <span class="css-1lrl7yk">Get an offer</span>
                                            <span class="css-16yaint">Go</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-buy></app-buy> -->



