<div id="alp-buy" class="animated-section">
  <div class="mdiv">
    <div id="alp-sell--bg-effect" aria-hidden="true">
      <div></div>
    </div>
    <div id="alp-sell--callout">
      <h2>Why sell your clients should buy with Opendoor</h2>
      <p>
        The Opendoor digital process brings the way you buy into the future.
      </p>
    </div>
    <div id="alp-sell--image-list">
      <div class="row">
        <div class="col sticky-parent">
          <div class="sticky-images">
            <div class="alp-img-placeholder noMobile">
              <div id="sell--image-1" class="appear active"></div>
              <div id="sell--image-2" class="appear"></div>
              <div id="sell--image-3" class="appear"></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="alp-img-group">
            <div class="alp-img-placeholder mobile-visible-only">
              <div class="img sell--image-1"></div>
            </div>
            <div
              id="watchable"
              watchable-target="sell--image-1"
              class="alp-text"
            >
              <h3>Buy a home in fewer steps</h3>
              <p>
                Coordinate mortgage, title, and seller communication in one
                place from anywhere. *
                <span> *in select markets</span>
              </p>
            </div>
          </div>
          <div class="alp-img-group">
            <div class="alp-img-placeholder reveal active mobile-visible-only">
              <div class="img sell--image-2"></div>
            </div>
            <div
              id="watchable"
              watchable-target="sell--image-2"
              class="alp-text"
            >
              <h3>Sign. Seal. Deliver.</h3>
              <p>
                Share your documents online. You'll typically hear back about
                your offer in 48 hours or less.
              </p>
            </div>
          </div>
          <div class="alp-img-group three">
            <div class="alp-img-placeholder reveal active mobile-visible-only">
              <div class="img sell--image-3"></div>
            </div>
            <div
              id="watchable"
              watchable-target="sell--image-3"
              class="alp-text"
            >
              <h3>Get the credit you deserve</h3>
              <p>
                Put $2,500 back in your buyer's pocket by referring your clients
                to an Opendoor partner commission and Agents Access points for
                each qualified closed transaction
              </p>
              <a href="https:/www.opendoor.com/w/terms#2_7">
                Learn more
                <img
                  src="https://imgdrop.imgix.net/2023-04-1680702495865-12259.svg"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="alp-bg-div" aria-hidden="true"></div>
      <div id="alp-sell--form">
        <div class="alp-content">
            <h2> Make an offer on an Opendoor home today</h2>
            <label for="buy-input-blue" id="buy-label">What property is your client interested in?</label>
            <div id="alp-buy--form-input" class="autocomplete">
                <input type="text" id="buy-input-blue" placeholder="Enter address" aria-label="Enter address" label="Enter address">
                <button>Make an offer</button>
            </div>
        </div>
        <div id="alp-buy--form-badge">
            <img src="https://www.svgrepo.com/show/54836/shield.svg" alt="">
            <span> Explore <br> mortgage options</span>
            <a href="htpps://www.opendoorhomeloans.com">
                learn more
                <img src="https://imgdrop.imgix.net/2023-04-1680702495865-12259.svg" alt="">
            </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-testimonials></app-testimonials> -->
