<section class="padded-top">
  <div class="agent-launch">
    <div class="banner-container">
      <div class="banner-image">
        <img
          src="https://imgdrop.imgix.net/2023-04-1680702490378-80560.svg"
          alt=""
        />
      </div>
      <div class="banner-content">
        <p>
          For a limited time, earn
          <strong class="text-blue"> 3 commission</strong> on eligible seller
          transactions to celebrate our expanded Agent Access program. That's
          not all—we've introduced new ways to serve clients, build your
          business, and earn up to $50k per year in bonuses, plus commission.
        </p>
        <div>
          <a
            href="https://www.opendoor.com/w/agent-access-promotion"
            class="link-secondary"
          >
            Learn more
            <img
              src="https://imgdrop.imgix.net/2023-04-1680702495865-12259.svg"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <app-blocks></app-blocks> -->
