<div class="apl-team">
    <h2 class="noMoblie"> Join the team </h2>
    <div class="apl-card">
        <div class="icon">
            <fa-icon [icon]="icon"></fa-icon>
        </div>
        <div class="text">
            <h3>Opendoor Brokerage</h3>
            <p>Grow your existing business with a steady stream of clients by hanging your license with Opendoor Brokerage.</p>
            <a href=""> Learn more <fa-icon [icon]="Arrow"> </fa-icon> </a>
        </div>
    </div>
    <div class="apl-card">
        <div class="icon">
            <fa-icon [icon]="icon_one"></fa-icon>
        </div>
        <div class="text">
            <h3>Tour Assistant</h3>
            <p>Get paid for hosting on-demand home tour.</p>
            <a href=""> Learn more <fa-icon [icon]="Arrow"> </fa-icon> </a>
        </div>
    </div>
</div>

<!-- <app-questions></app-questions> -->
