<div id="alp-testimonials">
  <div class="alp-testimonials-text">
    <p>
      “Being a fiduciary means using every tool to meet your client’s needs.
      Sometimes that means going on the open market. Sometimes that means
      selling to an investor like Opendoor to take advantage of a fast closing
      to be non-contingent.”
    </p>
    <span>
      Andi Blackwell
      <br />
      The Blackwell group brokered by
      <br />
      eXp Realty
    </span>
    <div id="alp-testimonials--control" aria-hidden="true">
      <button
        id="alp-testimonials--control-previous"
        aria-label="Previous testimonial"
      >
    <img src="" alt=""></button>
      <div class="alp-indicators">
        <div active=""></div>
      </div>
      <button
        id="alp-testimonials--control-next"
        aria-label="Next testimonial"
      >
    <img src="" alt=""></button>
    </div>
  </div>
  <div class="alp-testimonials--image">
    <div id="testimonials--image-1"></div>
  </div>
</div>


<!-- <app-scenarios></app-scenarios> -->