

<!-- <div id="alp-blocks-carousel" role="region" aria-label="carousel">
    <div class="item">
      <div class="alp-block">
        <h3>Sell fast</h3> 
        <p>Sell your client's home with speed and ease.</p>
      </div>
    </div>
    <div class="item">
      <div class="alp-block">
        <h3>Buying made easy</h3>
        <p>Buy an Opendoor home with a simpler digital process.</p>
      </div>
    </div>
    <div class="item">
      <div class="alp-block">
        <h3>Get rewarded</h3>
        <p>
          Earn additional bonuses, commissions, and savings for your clients.
        </p>
      </div>
    </div>
  </div>
  <div class="alp-blocks-carousel-controls"></div> -->
<!-- </div>
<br />
<br />
<app-sell></app-sell> -->

<div id="alp-blocks">
  <h2>With Opendoor, you’re in control</h2>
  <div id="alp-blocks-carousel" role="region" aria-label="carousel" class="slick-initialized slick-slider slick-dotted">
    <div
      class="item slick-list draggable"
      style="padding: 0px 32px;"
      tabindex="0"
      role="tabpanel"
      id="slick-slide00"
      aria-describedby="slick-slide-control00"
    >
      <div class="alp-block slick-track">
        <h3>Sell fast</h3>
        <p>Sell your client’s home with speed and ease.</p>
      </div>
    </div>
    <div
      class="item"
      style=""
      tabindex="-1"
      role="tabpanel"
      id="slick-slide01"
      aria-describedby="slick-slide-control01"
    >
      <div class="alp-block">
        <h3>
          Buying<br />
          made easy
        </h3>
        <p>Buy an Opendoor home with a simpler digital process.</p>
      </div>
    </div>
    <div
      class="item"
      style=""
      tabindex="-1"
      role="tabpanel"
      id="slick-slide02"
      aria-describedby="slick-slide-control02"
    >
      <div class="alp-block" style="float: left;">
        <h3>
          Get <br />
          rewarded
        </h3>
        <p>
          Earn additional bonuses, commissions, and savings for your clients.
        </p>
      </div>
    </div>
  </div>
  <div id="alp-blocks-carousel-controls"></div>
</div>

<!-- mobile -->

<div id="alp-blocksOne" style="display: none;">
  <h2>With Opendoor, you are in control</h2>
  <div
    id="alp-blocks-carousel"
    role="region"
    aria-label="carousel"
    class="slick-initialized slick-slider slick-dotted"
  >
    <div class="slick-list draggable" style="padding: 0px 32px">
      <div
        class="slick-track"
        style="opacity: 1; width: 972px; transform: translate3d(0px, 0px, 0px)"
      >
        <div
          class="item slick-slide slick-current slick-center"
          data-slick-index="0"
          aria-hidden="true"
          style="width: 324px"
          tabindex="0"
          role="tabpanel"
          id="slick-slide00"
          aria-describedby="slick-slide-control00"
        >
          <div class="alp-block">
            <h3>Sell fast</h3>
            <p>Sell your client’s home with speed and ease.</p>
          </div>
        </div>
        <div
          class="item slick-slide"
          data-slick-index="1"
          aria-hidden="true"
          style="width: 324px"
          tabindex="-1"
          role="tabpanel"
          id="slick-slide01"
          aria-describedby="slick-slide-control01"
        >
          <div class="alp-block">
            <h3>
              Buying<br />
              made easy
            </h3>
            <p>Buy an Opendoor home with a simpler digital process.</p>
          </div>
        </div>
        <div
          class="item slick-slide"
          data-slick-index="2"
          aria-hidden="true"
          style="width: 324px"
          tabindex="-1"
          role="tabpanel"
          id="slick-slide02"
          aria-describedby="slick-slide-control02"
        >
          <div class="alp-block">
            <h3>
              Get <br />
              rewarded
            </h3>
            <p>
              Earn additional bonuses, commissions, and savings for your
              clients.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
